<%- include('../includes/head.ejs') %>
<body class="bg-white dark:bg-gray-900">
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>Login</h1>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
