<%- include('includes/head.ejs')%>

<body>
  <%- include('includes/nav.ejs')%>
  <main class="bg-white dark:bg-gray-800">
    <h1>404 Error! Page Not Found</h1>
  </main>

  <%- include('includes/end.ejs')%>
</body>
