<%- include('../includes/head.ejs') %>
<body class="bg-white dark:bg-gray-800">
  <%- include('../includes/nav.ejs') %>
  <main class="p-5">
    <form action="/add-article" method="post" enctype="multipart/form-data">
      <!-- <div class="mb-6">
        <label
          for="title"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Title</label
        >
        <input
          type="text"
          id="title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
      </div> -->
      <div class="mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="image"
          >Upload file</label
        >
        <input
          class="block w-full text-sm text-gray-900 bg-gray-50 rounded border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          type="file"
          accept=".jpg,.jpeg,.png"
          id="image"
          name="image"
        />
      </div>
      <!-- <div class="mb-6">
        <label
          for="body"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Article Body</label
        >
        <textarea
          id="body"
          rows="10"
          class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        ></textarea>
      </div> -->

      <button
        type="submit"
        class="text-white bg-emerald-400 hover:bg-emerald-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </main>

  <%- include('../includes/end.ejs') %>
</body>
